@import url('http://fonts.cdnfonts.com/css/segoe-ui-this');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

header {
  position: relative;
  width: 100%;
  padding: 19px 0 19px 0;
  background-color: #16181d;
  color: #61dafb;
  text-align: center;
}

.search-input {
  position: relative;
  width: 100%;
  padding: 18px 0 18px 0;
  background-color: #20232a;
  text-align: center;
}

.search-input input {
  width: 320px;
  padding: 10px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #61dafb;
  background-color: #16181d;
  color: white;
}

.search-input .button-tambah {
  display: inline;
  margin-left: 5px;
  position: relative;
  cursor: pointer;
}

.button-tambah img {
  display: inline-block;
  width: 30px;
  position: absolute;
  top: 2;
  padding-left: 5px;
}

.tambah-catatan {
  position: absolute;
  width: 450px;
  padding-top: 10px;
  z-index: -1;
  transition: all ease-out 0.2s;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.tambah-catatan-header {
  display: inline-flex;
  width: 100%;
}

.tambah-catatan-header img {
  position: relative;
  width: 25px;
  margin-left: auto;
  cursor: pointer;
}

.tambah-catatan form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.animation-show-form {
  animation-name: show-form;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

.animation-hidden-form {
  animation-name: hidden-form;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

form input {
  padding: 8px;
  margin-bottom: 5px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #61dafb;
  font-size: 16px;
}

form textarea {
  padding: 8px;
  margin-bottom: 5px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #61dafb;
}

form button {
  padding-top: 8px;
  padding-bottom: 8px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #61dafb;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.1em;
}

input::placeholder {
  opacity: 0.8;
  font-size: 14px;
}

textarea::placeholder {
  opacity: 0.8;
  font-size: 14px;
}

@keyframes show-form {
  from {
    margin-top: -355px;
  }
  to {
    margin-top: 5px;
  }
}

@keyframes hidden-form {
  form {
    margin-top: 0;
  }
  to {
    margin-top: -355px;
  }
}
